
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    background: #FFE84A;
    background-image: url('/src/images/unicorn_dust.svg');
    background-size: clamp(10rem, 20vw, 25rem);
    background-repeat: no-repeat;
    background-position: -35px -25px;

}


.startScreen-container{
    width: 100%;
    height: 100%;
    background: #FF86B3;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 80%);
    
}

.startScreen-container-inner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    background: transparent;
    background-image: url('/src/images/true_blood.svg'), url('/src/images/sparkles.svg');
    background-repeat: no-repeat, no-repeat;
    background-size:  clamp(14rem, 25vw, 30rem), clamp(20rem, 50vw, 40rem);
    background-position: 107% 25%, 100% -30%;
}