@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    width: 70%;
    max-width: 900px;
    height: 75px;
    background: #ffffff;
    text-align: center;
    text-transform: capitalize;
    border: transparent;
    font-family: 'Outfit', sans-serif;
    font-size: clamp(3rem, 6vw, 13rem);
    line-height: 75px;
    
}

button > img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

button:hover{
    cursor: pointer;
}