@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap'); 
@import '../../App.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-container{ 
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   font-size: clamp(4.5rem, 21vw ,13rem);
   font-family: 'Outfit', sans-serif;
   background: transparent;
   color: var(--white);
   text-transform: uppercase;
   
}

.title-container > * {
    line-height: .75;
}

 p:first-child{
    align-self: flex-end;
    font-size: clamp(1.5rem, 10vw ,13rem);

} 




