@import '../../App.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--pink);
}


.payment-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 17vh 5vw; 
    background: var(--pink);
    overflow: hidden;
    /* background-image: url('/src/images/sky_shaped.svg'), url('/src/images/unicorn_dust.svg');
    background-size: clamp(7rem, 15vw, 15rem), clamp(10rem, 20vw, 25rem);
    background-repeat: no-repeat, no-repeat;
    background-position: -50px 90%, 110% 110%; */
}


.button-container{
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pink);
    gap: 30px;
    
    
}

 .payment-container p:nth-child(2){
    align-self: flex-end;
    font-size: clamp(2rem, 10vw ,13rem);

} 

.payment-sky-shaped{
    position: absolute;
    width: 45vw;
    height: 45vw;
    max-width: 250px;
    max-height: 250px;
    bottom: 7%;
    left: -5rem;
    filter: drop-shadow(0 15px 10px rgba(0,0,0,0.35));
}

.payment-unicorn-dust{
    position: absolute;
    width: 45vw;
    height: 45vw;
    max-width: 250px;
    max-height: 250px;
    bottom: -4rem;
    right: -4rem;
    filter: drop-shadow(0 15px 10px rgba(0,0,0,0.35));
}